<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Emoji/SVG Corrupt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name=Description content="Corrupt Emojis and SVG files.">
    <link rel=icon type=image/png sizes=32x32 href=https://raw.githubusercontent.com/x8BitRain/svg-emoji-corrupt/master/assets/stylesheets/favicon-32x32.png>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.1/css/uikit.min.css">
  </head>
  <body class="uk-animation-fade">
    <div id="root"></div>
  </body>
</html>
